body {background-color: #6e6e72!important;}

.container{
    margin-top: 50px;
    width: 25%!important;
}

.form{
    background: #2c2c2f;
    border:2px solid #17171a;
    border-radius: 10px;
    padding: 20px 10px;
}

#task{
    width: 60%;
    float: left;
    margin-right: 5%;
}